:root {
    --bg-color: rgb(245, 245, 245);
    --text-color: black;
}

.dark-theme {
    --bg-color: rgb(70, 70, 70);
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}